################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JonasSoftHouseConverter/FileContentIndex
/JonasSoftHouseConverter/obj
/.vs/Cvs2XMLMigrator/v17
*.suo
/JonasSoftHouseConverter/bin/Debug/net6.0
/.vs/JonasSoftHouseConverter/DesignTimeBuild
/.vs
